.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 20px;
    background-color: #E8E8E8;
    width: max-content;
    border-radius: 20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 1s ease-in-out;
}

.weather-card:hover {
    box-shadow: 0px 10px 20px rgb(255, 221, 1);
    transition: box-shadow 1s ease-in-out;
}

.weather {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.country-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time {
    font-weight: 500;
    font-size: clamp(1.25rem, calc(0.906rem + 0.660vw), 1.50rem);
    padding: 15px 0px 10px;
}

.data {
    padding: 15px 0px 22px;
}

.text,
.data {
    font-weight: 500;
    font-size: clamp(0.75rem, calc(0.578rem + 0.330vw), 0.88rem);
}

.statistick-consol-box {
    display: flex;
    gap: 25px;
}

.hour-weather,
.week-weather,
.statistick {
    font-weight: 500;
    font-size: clamp(0.56rem, calc(0.476rem + 0.165vw), 0.63rem);
    padding: 8px 18px;
    border-radius: 10px;
    background: #ffb36c;
    border: 0px;
}

.temperatureText {
    font-weight: 500;
    font-size: clamp(1.50rem, calc(0.812rem + 1.320vw), 2.00rem);
    padding: 15px 0px 39px;
}

.reboot-icon,
.like-icon,
.delet-icon {
    width: 30px;
    height: 30px;
}

.reboot,
.like,
.delet {
    background: rgba(0, 0, 0, 0);
    border: 0px;
}

.card-console {
    display: flex;
    align-items: center;
    gap: 38px;
}

.left-consol-box {
    display: flex;
    align-items: center;
    gap: 37px;
}

.right-consol-box {
    display: flex;
    gap: 16px;
}